* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: darkgoldenrod;
    margin: 0;
}


header {
    background-image: url("img/baguette.jpg");
    background-size: cover;
    height: 100px;
}

header h1 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 25px;
    padding-left: 100px;
}


div#center-site {
    background-color: white;
    width: 85%;
    margin: auto;
}

a.button {
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    color: royalblue;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

a.button:hover {
    background-color: lightgray;
    color: midnightblue;
}


form {
    width: 80%;
    /*border: solid sandybrown 2px;*/
    border-radius: 6px;
    margin: auto;
    margin-top: 50px;
    /*padding: 15px;*/
}

label {
    display: block;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: solid black 1px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
}

input#knop {
    width: 110px;
    margin-top: 20px;
    margin-bottom: 0;
}


div#intro h2 {
    font-weight: normal;
    font-size: 36px;
    color: #404040;
    margin-bottom: 0;
}
div#intro p {
    font-size: 22px;
    color: #404040;
    margin-top: 10px;
}


div.broodje {
    display: inline-block;
    border: solid sandybrown 2px;
    border-radius: 15px;

    width: 260px;
    padding: 10px;
    margin: 5px;
}

div.broodje img {
    border-bottom: solid sandybrown 1px;
    width: 100%;
}


p#file-error {
    color: red;
    font-size: 15px;
}